{% extends 'base.html' %}

{% block content %}

<head>

</head>
    <h1>Rent {{car.name}} for {{car.rent_price}} Euro/Day</h1>

<form method="POST" action="{{ url_for('rental.add_rental', car_id=car.id) }}">
  <div class="form-group">
    <label for="customer_id">Select a customer:</label>
    <select name="customer_id" id="customer_id" class="form-control">
      {% for customer in customers %}
        <option value="{{ customer.id }}">{{ customer.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="from_date">From Date:</label>
    <input type="text" name="from_date" id="from_date" class="form-control" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="to_date">To Date:</label>
    <input type="text" name="to_date" id="to_date" class="form-control" autocomplete="off">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

<script>
  var jq = $.noConflict();
  jq(function() {
    jq("#from_date").datepicker({
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
      yearRange: "-100:+0"
    });
    jq("#to_date").datepicker({
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
      yearRange: "-100:+0"
    });
  });
</script>



{% endblock %}
