{% extends 'base.html' %}

{% block content %}
    <h1>Add Customer</h1>
<form method="POST" action="{{ url_for('customer.add_customer') }}">
    {% for key, value in customer.items() %}
        {% if key != 'id' and key != 'links' and key != 'car_id' %}
            <div class="form-group">
                <label for="{{ key }}">{{ key|title }}</label>
                {% if key == 'registration_date' %}
                    <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{Nothing}}" autocomplete="off">
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
                    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
                    <script>
                        var jq = $.noConflict();
                        jq(function() {
                            jq("#{{ key }}").datepicker({
                                dateFormat: "yy-mm-dd",
                                changeMonth: true,
                                changeYear: true,
                                yearRange: "-100:+0"
                            });
                        });
                    </script>
                {% else %}
                    <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="">
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add</button>
</form>

    <a href="{{ url_for('customer.add_customer') }}" onclick="return confirm('Are you sure you want to cancel this Customer?')">Cancel Customer</a>
{% endblock %}