{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Customers ({{ customers|length }})</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for cus in customers %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ cus.name }} {{ cus.surname }}</h5>
            <p class="card-text">Address: {{ cus.address }}</p>
            <p class="card-text">Phone: {{ cus.phone}}</p>
            <p class="card-text">Registration_date: {{ cus.registration_date }}</p>
            <a href="{{ url_for('customer.customer_details', customer_id=cus.id) }}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block custom_styles %}
  <style>
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 0.25rem;
    }

    .card-text:last-child {
      margin-bottom: 0;
    }
  </style>
{% endblock %}
