{% extends 'base.html' %}

{% block content %}
    <h1>Edit Rental</h1>
<form action="{{ url_for('rental.edit_rental', rental_id=rental.id) }}" method="post">
  {% for key, value in rental.items() %}
    {% if key != 'id' and key != 'links' and key != 'car_name' and key != 'customer_name' %}
      <div class="form-group">
        <label for="{{ key }}">{{ key|title }}</label>
        {% if key == 'status' %}
          <select class="form-control" id="{{ key }}" name="{{ key }}">
            <option value="Rented" {% if value == 'Rented' %} selected {% endif %}>Rented</option>
           <option value="Returned" {% if value == 'Returned' %} selected {% endif %}>Returned</option>
          </select>
        {% else %}
          <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}">
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  <button type="submit">Save Changes</button>
</form>
<a href="#" onclick="if (confirm('Are you sure you want to delete this Rental?')) { document.getElementById('delete-form-{{ rental.id }}').submit(); }">Delete Rental</a>
<form id="delete-form-{{ rental.id }}" action="{{ url_for('rental.delete_rental', rental_id=rental.id) }}" method="post">
{% endblock %}