{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Cars ({{ cars|length }})</h1>

  <div class="row d-flex justify-content-end">
    <a href="{{ url_for('car.home',status='all') }}" class="btn btn-primary ml-2">All</a>

    <a href="{{ url_for('car.home',status='rented') }}" class="btn btn-primary ml-2">Rented</a>

    <a href="{{ url_for('car.home',status='available') }}" class="btn btn-primary ml-2">Available</a>


  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for car in cars %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div>
              <img src="{{ url_for('static', filename='car_placeholder.png') }}"  width="300" height="200" alt="">
            </div>

            <p class="card-title">{{ car.name }} </p>
            <p class="card-text">Status: {{ car.status }}</p>
            <p class="card-text">Rent Price: {{ car.rent_price }}</p>
            <a href="{{ url_for('car.car_details', car_id=car.id) }}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block custom_styles %}
  <style>
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 0.25rem;
    }

    .card-text:last-child {
      margin-bottom: 0;
    }
  </style>
{% endblock %}
