{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Rentals ({{ rentals|length }})</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for ren in rentals %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div>
              <img src="{{ url_for('static', filename='car_placeholder1.png') }}"  width="300" height="200" alt="">
            </div>
            <p class="card-title">{{ ren.status }} </p>
            <p class="card-title">Car ID: <a href="{{ url_for('car.car_details', car_id=ren.car_id) }}">{{ ren.car_name }}</a></p>
            <p class="card-title">Customer ID: <a href="{{ url_for('customer.customer_details', customer_id=ren.customer_id) }}">{{ ren.customer_name }}</a></p>

            <p class="card-text">From Date: {{ ren.from_date }}</p>
            <p class="card-text">To Date: {{ ren.to_date}}</p>

            <a href="{{ url_for('rental.rental_details', rental_id=ren.id) }}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block custom_styles %}
  <style>
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 0.25rem;
    }

    .card-text:last-child {
      margin-bottom: 0;
    }
  </style>
{% endblock %}
